/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import '~@angular/material/_theming';
// Include non-theme styles for core.
@include mat-core();
// custom theme
@import "custom-theme.scss";
.my-primary-text {
  color: mat-color($my-app-primary);
}
.my-primary-text-msg {
  color: mat-color($my-app-primary);
  display:flex;
  justify-content: right;
}
.my-accent-text {
  color: mat-color($my-app-accent);
}
mat-list-item:nth-child(odd){
  background-color:white;
}
mat-list-item:nth-child(even) {
  background-color:#eeeeee;
}

.mat-card-header-text{
  width: 100% !important;
}
.padtop15 {
  padding-top: 15%;
}
.material-icons.addicon {
  font-size: 10vw;
  position:absolute;
  bottom:4vh;
  right:8vw;
}

.logo {
  display:flex;
  justify-content: center;
}
.vendormsg{
  display:flex;
  justify-content: right;
}

mat-form-field { margin-left: 5%;width:90%; margin-bottom: 5%; }
