<mat-toolbar color="primary">
  <span>CaseStudy Kevin Jarocki</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['home']">Home</a>
  <a mat-menu-item [routerLink]="['vendors']">Vendors</a>
  <a mat-menu-item [routerLink]="['products']">Products</a>
  <a mat-menu-item [routerLink]="['generator']">Generator</a>
  <a mat-menu-item [routerLink]="['viewer']">Viewer</a>
</mat-menu>
<router-outlet></router-outlet>
